{{define "bottom"}}
</main>
<footer>
    <ul>
        <li><a href="https://vk.com/kolyaliam">Twitter</a></li>
        <li><a href=https://github.com/NikolasDeForce>GitHub</a></li>
    </ul>
</footer>
</body>
</html>
{{end}}